
.navbar-brand img { width: 75px !important;}
.navbar .navbar-brand {
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    color: #888888;
}
.form-check .form-check-sign::before, .form-check .form-check-sign::after {
        margin-top: 5px;
    margin-left: 0px;
}
.form-check.form-check-radio {
    margin-top: 5px;
}
.radio-chk input[type="checkbox"] { 
	position: absolute;
	opacity: 0;
}

/* Normal Track */
.radio-chk input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.21);
    margin: 10px 1.2em 15px 0;
}

/* Checked Track (Blue) */
.radio-chk input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Big Track */
.radio-chk input[type="checkbox"].bigswitch.ios-switch + div {
	width: 50px;	height: 25px;display: inline-block;
}

/* Green Track */
.radio-chk input[type="checkbox"].green.ios-switch:checked + div {
	background-color: #00e359;
	border: 1px solid rgba(0, 162, 63,1);
	box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
.radio-chk input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
    margin-top: 0px !important;
	margin-left: 1px;
}

/* Big Knob */
.radio-chk input[type="checkbox"].bigswitch.ios-switch + div > div {
	width: 23px; height: 23px;
	margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
.radio-chk input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
.radio-chk input[type="checkbox"].green.ios-switch:checked + div > div {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}

.rowheight { height: auto;}
.card-b {    padding: 2px !important;}
.moms-c {
    margin: 10px 0;
}
.tabs-wrap {
	margin-top: 40px;
}
.tab-content .tab-pane {
	padding: 20px 0;
}
hr {
    margin-top: 22px;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    float: left;
    width: 100%;
}
.btn-blue {  background-color: #0c71c3; border: none;    opacity: 1; color: #fff;    padding: 14px 30px;    font-size: 18px;    cursor: pointer;}
.btn-blue:hover {  background-color: #0c71c3; border: none; color: #fff;}
.btn-green { background-color: #419641; border: none; color: #fff;    border: 1px solid #508650;    padding: 14px 30px;    font-size: 18px;    cursor: pointer;}
.btn-green:hover {  background-color: #419641; border: none; color: #fff;}
.btn-red { background-color: #ac2925; border: none; color: #fff;    border: 1px solid #8e403e;    padding: 14px 30px;    font-size: 18px;    cursor: pointer;}
.btn-red:hover {  background-color: #ac2925; border: none; color: #fff;}


.accordion {
  font-size: 1rem;
    width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1.5em 1.5em;
  background: #0c71c3;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  font-size: .8em;
  letter-spacing: .1em;
  transition: all .3s;
      float: left;
    width: 100%;
}

.accordion-header:hover {
  /*#2D3D99*/
  background: #42d0ed;
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #3f3c3c;
  display: none;
    padding: 25px 40px 0 40px;
  float: left;
  width: 100%;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
  content: "\f3d0";
  font-family: IonIcons;
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: #0c71c3;
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: black;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 1em;
  }
  
  .accordion {
    width: 100%;
  }
}
.field-required {
	color:red;
}
.alert button.close {
    position: relative;
    right: 0px;
    top: 50%;
    margin-top: 7px;
    z-index: 1033;
    background-color: #FFFFFF;
    display: block;
    border-radius: 50%;
    opacity: .4;
    line-height: 9px;
    width: 25px;
    height: 25px;
    outline: 0 !important;
    text-align: center;
    padding: 3px;
    font-weight: 300;
}
.card-body {
    width: 100%;
    float: left;
}
.btn-primary {
    color: #fff;
    background-color: #2d3d99;
    border-color: #202c6f;
        opacity: 1;
}
.btn-primary:hover {
      background-color: #2d3d99;
    border-color: #202c6f;
    color: #fff;
}
.form-check-radio .form-check-sign::before { font-size: 26px;}
.form-check-radio input[type="radio"]:checked+.form-check-sign::after { font-size: 26px;}
.form-check .form-check-sign::before, .form-check .form-check-sign::after{color: #a0a0a0;}
.btn-grey {
    background-color: transparent;
    opacity: 1;
    color: #333;
    padding: 14px 30px;
    border: 1px solid #ababab;
    font-size: 18px;
    cursor: pointer;
	margin-top: 15px;
}
.btn-grey:hover {
      border: 1px solid #ababab;
          color: #333;
}
.mrg-l-r-8 { margin-right: 8px; margin-left: 8px;}
.nopadding { padding: 0;}




/*Bootstrap Calendar*/
.datepicker {
    border-radius: 0;
    padding: 0;
}
.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
    padding: 10px;
    display: list-item;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}
.datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
    border-radius: 3px;
}
.datepicker-days table thead tr:nth-child(3n+0) {
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 11px 13px;
}
.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
    border-radius: 0;
}
.datepicker td, .datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: #3546b3;
    color: #ffffff;
    border-radius: 0;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
}
.datepicker .prev, .datepicker .next {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 37px;
    height: 37px;
}
.datepicker .prev:hover, .datepicker .next:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.99);
    font-size: 21px;
}
.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
}
.datepicker .datepicker-switch:hover {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}
.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
  background-color: #3546b3;
  background-image: none;
}
.dropdown-menu {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0,0,0,.1);
}

.formctrl-h { height: auto;}
.box-brd {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.box-brd h4 {
background-color: #0c71c3;
    padding: 15px 10px;
    color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 20px;
        margin-top: 0;
}
.f-sm {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}
.bg-color {
    width: 100%;
    background-color: #0c71c326;
    float: left;
    padding: 12px 0;
}
.js-accordion .form-holder.col-sm-12 {
    margin-bottom: 20px;
}
.nopadding-l {padding-left:0;}
.nopadding-r {padding-right:0;}
.btn-blue:focus {background-color: #0c71c3 !important; color:#fff;}
.btn-add-remove { margin-bottom: 20px;}

.box_brd_contentpad {border: 1px solid #c5c5c5; border-radius: 4px; width: 100%; float: left; margin-bottom: 30px;}
.box_brd_title_box {background-color: #0c71c3; padding: 15px 15px; color: #fff; border-top-right-radius: 4px; border-top-left-radius: 4px; }
.box_brd_title_box select {height:auto !important;}
.box_brd_title_box h4 {color:#fff; font-size: 18px; margin: 0;}
.award_acc_con {padding:15px;}
.award_acc_con h4 {font-size: 20px; color:#333; margin-top: 0;}
.awrd_sub_head {font-size: 20px;  margin-top: 40px; color:#333;}
ul.border_list {padding: 0;}
ul.border_list li {position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;}
.award_sec_btn button {cursor: pointer;}
.award_acc_con textarea {width:100%; height:200px;}
.award_acc_con .checkbox input {margin-right: 10px;}

.card-image.color_header {background:#0c71c3;}
.card-user .avatar {width:140px; height:140px;}
.avatar { padding:15px; display:inline-block; background:#fff;}
.avatar img {width:100%;}

@media(max-width:991px){
.navbar .navbar-brand {margin-left:auto; margin-right:auto;}
.navbar .navbar-nav .nav-item .nav-link  {padding: 5px 15px;}
}