# Dependencies
/node_modules
/vendor

# Environment
.env
.env.backup
.env.production

# Build artifacts
/public/build
/public/hot
/public/sitemap.xml

# Storage
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/logs/.gitignore

# Cache
/bootstrap/cache/*
!bootstrap/cache/.gitignore

# Testing
/.phpunit.cache
.phpunit.result.cache

# IDE
/.fleet
/.idea
/.nova
/.vscode
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Homestead
Homestead.json
Homestead.yaml
auth.json

# Deploy
/.dep

# Logs
npm-debug.log
yarn-error.log
*.log

# Backup files
*.bak
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Specific Files/Folders
/public/old-----build
/public/old-----hot
/public/old-----vendor
