
/***** contact form *****/
#contact-form {
	position:relative;
	vertical-align:top;
	
	z-index:1;
	margin:8px 0 0 0
}
	#contact-form fieldset {border:none;padding:0; width:100%; overflow:hidden;}
			#contact-form label {display:block; min-height:51px; position:relative;overflow:hidden}
			#contact-form .message{min-height:290px;}
			#contact-form input, #contact-form textarea {
				padding: 5px 8px 10px;
				margin:0;
				font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
				color:#acacac;
				background:none;
				outline:none;
				border:1px solid #dbdbdb;
				width:173px;
				 box-shadow:none;float:left
	       
			}
			#contact-form input{height:17px;}
			
			#contact-form .area .error {float:none;}
			#contact-form textarea {
				width:452px;
				height:228px;
				resize:none;
				overflow:auto;
			}
			#contact-form .success {display:none; margin-bottom:20px;color:#000}
			#contact-form .error,
			#contact-form .empty {
				color:#f00;
				font-size:11px;
				line-height:1.27em;
				display:none;
			  padding:4px 5px 10px;overflow:hidden;float:left
			
			}
			
		
						
			
.buttons-wrapper{ position:absolute;bottom:0;right:2px}
.buttons-wrapper a {cursor:pointer;margin-left:32px;}


@media only screen and (max-width: 995px) {

	#contact-form textarea{width:355px;}
}
@media only screen and (max-width: 479px){

	#contact-form input, #contact-form textarea{width:280px !important;}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
 #contact-form textarea{width:400px !important;}

}




