nav{width:100%;position:relative}
.sf-menu {list-style:none;display:block;}
#menu-icon{display:none}

.sf-menu a{-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}

.sf-menu > li {
	position:relative;
	display:inline-block;background:url(../images/border-item.gif) no-repeat 0 10px		
}

.sf-menu > li.item-a{margin-right:220px}
.sf-menu > li.item-b{background:none;}
.sf-menu > li:first-child{background:none;}
		
	.sf-menu > li > a {color:#343434;display:block;z-index:10;position:relative; font-family: 'Open Sans', sans-serif;font-size:11px;line-height:18px;text-transform:uppercase;font-weight:bold;padding:16px 29px;}
	
		.sf-menu > li.sfHover > a,.sf-menu > li:hover > a, .sf-menu > li.current > a  {text-decoration:none;color:#b6b6b6}
		.sf-menu > li.sfHover > a .sf-sub-indicator,.sf-menu > li:hover > a .sf-sub-indicator, .sf-menu > li.current > a .sf-sub-indicator  {background-position: 0 bottom}	
		.sf-menu > li > a .sf-sub-indicator{display:inline-block; width:9px; height:4px; position:relative;  background:url(../images/indicator.png) 0 0 no-repeat;margin:9px 0 0 4px;display:none}
/***submenu***/
.sf-menu ul {
	position:absolute;
	top:-999em;
	z-index:99;
	width:136px; 
	display:none;
	padding:32px 20px 14px 20px;
	background:#fff;
}
.sf-menu ul ul{background:none;position:relative;padding-bottom:3px;padding-top:14px}

.sf-menu li li{
	width:100%;
	padding:0;
	position:relative;margin-bottom:8px;display:block;text-align:left !important
   

}
	.sf-menu li li a{
		display:inline-block;	
		padding:0 0 0 12px;		
		background:url(../images/marker-item.png) no-repeat -4px 7px;
		-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:13px;line-height:18px;color:#e96b83;text-align:left !important;
	}
	
	.sf-menu li li li a{font-size:11px;line-height:14px;background-position:-4px 5px;text-transform:uppercase}
	
		.sf-menu li li > a:hover,.sf-menu li li.sfHover > a{text-decoration:none; color:#acacac;background-position: 0 7px}
		.sf-menu li li li > a:hover{background-position: 0 5px}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:0;
	top:50px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:-999em;
}
/***subsubmenu***/


ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:-8px;
	top:0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:-999em;
}

/* Design for a width of 768px */
@media only screen and (max-width: 995px){
.sf-menu > li.item-a{margin-right:166px}
.sf-menu > li > a .sf-sub-indicator{display:none}
.sf-menu > li > a{padding:16px 17px;}
}


@media only screen and (max-width: 767px) {
	.sf-menu > li {margin:0 7px !important}

}




@media only screen and (max-width: 767px) {

	/* menu icon */
	#menu-icon {
	color: #b3b3b3;	background:none;    
	font-size:16px;
	line-height:18px;
		cursor: pointer;	
		text-transform:uppercase;
		display: block; /* show menu icon */
		font-family: 'Open Sans', sans-serif;text-align:center	;border-bottom:1px solid #ededed;padding-bottom:14px	
	}
	
 #menu-icon span{display:inline-block; width:9px; height:4px; position:relative;  background:url(../images/indicator.png) 0 bottom no-repeat;margin:9px 0 0 2px;}
	
	#menu-icon:hover,#menu-icon.active {
	color:#343434;
	}
	
		#menu-icon:hover span,#menu-icon.active span{
	background-position: 0 0
	}
	
.sf-menu li  a .sf-sub-indicator{display:inline-block; width:9px; height:4px; position:relative;  background:url(../images/indicator.png) 0 0 no-repeat;margin:9px 0 0 4px;display:inline-block}]
.sf-menu  li.sfHover  li a .sf-sub-indicator,.sf-menu  li:hover li  a  .sf-sub-indicator  {background-position: 0 bottom !important}
	/* main nav */
	.sf-menu {
		clear: both;
		position: absolute;
		top: 33px;
		left:50%;margin-left:-96px;
		width: 170px;
		z-index: 10000;
		padding: 22px 30px ;
		background:#fff;
		border: none;
		display: none; /* visibility will be toggled with jquery */
	}
	.sf-menu li {display:block;
		clear: both;
		float: none;
		margin: 0 0 12px !important;
		background:none !important;
		border:none !important;
		box-shadow:none !important;text-align:left !important
	}
	
		.sf-menu >li > a{
		display:inline-block;	
		padding:0 0 0 12px;		
		background:url(../images/marker-item.png) no-repeat -4px 7px;
		-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
	}
	.sf-menu > li.sfHover > a,.sf-menu > li:hover > a, .sf-menu > li.current > a  {background-position: 0 7px}
	
	.sf-menu a, 
	.sf-menu ul a {font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
	}
	.sf-menu li a:hover{}
	
	/* dropdown */
	.sf-menu ul,.sf-menu ul  ul {
		width: auto;
		position: static;
		border: none;
		background: inherit;
		padding:0 0 0 10px;
		box-shadow:none;
	}
.sf-menu ul  ul{padding-top:6px}

}


@media only screen and (min-width: 768px) {.sf-menu { display:block !important;}}

